@import "staypuft.css";

/* Variables
/* ---------------------------------------------------------- */
:root {
    --sans-serif: 'Open Sans', sans-serif;
    --text-color: #3c484e;
    --link-color: #726080;
    --link-hover-color: #C573FF;
    --sidebar-width: 320px;
    --sidebar-color: #623980;
    --sidebar-link-color: #B799CC;
    --sidebar-link-hover-color: white;
    --search-placeholder-color: color(white a(0.5));
    --radius3: 0;
    --radius5: 0;
}

/* Overrides
/* ---------------------------------------------------------- */
.post-card {
    box-shadow: none;
    transform: none;
    transition: none;
    border: 2px solid transparent;
}

.post-card:hover {
    border: 2px solid var(--sidebar-color);
    box-shadow: none;
    transform: none;
    transition: none;
}

.author-card-button {
    border-color: var(--link-color);
    color: var(--link-color);
}

.author-card-button:hover {
    border-color: var(--link-hover-color);
    color: var(--link-hover-color);
}

body {
    background: #E4BFFF;
}