@import "staypuft.css";

/* Variables
/* ---------------------------------------------------------- */
:root {
    --sans-serif: 'Open Sans', sans-serif;
    --text-color: #3c484e;
    --link-color: #0084cd;
    --link-hover-color: #ffcd24;
    --sidebar-width: 320px;
    --sidebar-color: #006fb9;
    --sidebar-link-color: #0084cd;
    --background-color: #9dc8e4;
}

/* Overrides
/* ---------------------------------------------------------- */
.post-card {
    box-shadow: none;
    transform: none;
    transition: none;
    border: 2px solid transparent;
}

.post-card:hover {
    border: 2px solid var(--sidebar-color);
    box-shadow: none;
    transform: none;
    transition: none;
}

.author-card-button {
    border-color: var(--link-color);
    color: var(--link-color);
}

.author-card-button:hover {
    border-color: var(--link-hover-color);
    color: var(--link-hover-color);
}

.main-nav li {
    background: var(--sidebar-color);
}

.main-nav li a {
    color: white;
}

.main-nav li a:hover {
    color: white;
    text-decoration: underline;
}

body {
    background: var(--background-color);
}

.site-footer-content {
    color: white;
}

.site-footer-content i {
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

.site-footer-content a {
    color: white;
}

.site-footer-content a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.site-header {
    margin: 0;
}

.post-full-header {
    padding: 2vw 2vw 2vw;
}

.post-full-content em,
.post-full-content strong {
    color: var(--text-color);
}

.site-header-content {
    background: var(--sidebar-color);
}