@import "staypuft.css";

/* Variables
/* ---------------------------------------------------------- */
:root {
    --sans-serif: 'Open Sans', sans-serif;
    --text-color: #3c484e;
    --link-color: #3D5B6E;
    --link-hover-color: #85C5ED;
    --sidebar-width: 320px;
    --sidebar-color: #5A86A1;
    --sidebar-link-color: #3D5B6E;
    --sidebar-link-hover-color: #85C5ED;
    --background-color: #CCE0ED;
}

/* Overrides
/* ---------------------------------------------------------- */
.post-card {
    box-shadow: none;
    transform: none;
    transition: none;
    border: 2px solid transparent;
}

.post-card:hover {
    border: 2px solid var(--sidebar-color);
    box-shadow: none;
    transform: none;
    transition: none;
}

.author-card-button {
    border-color: var(--link-color);
    color: var(--link-color);
}

.author-card-button:hover {
    border-color: var(--link-hover-color);
    color: var(--link-hover-color);
}

.main-nav li {
    background: rgba(0,0,0,.2);
}

.main-nav li a {
    color: var(--search-placeholder-color);
}

.main-nav li a:hover {
    color: var(--sidebar-link-hover-color);
}

body {
    background: var(--background-color);
}

.site-footer-content {
    color: white;
}

.site-footer-content i {
    color: white;
    border: 1px solid white;
    text-decoration: none;
}

.site-footer-content a {
    color: white;
    text-decoration: underline;
}

.site-footer-content a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

.post-content- em,
.post-content strong {
    color: var(--text-color);
}